.box {
    width: 150px;
    height: 500px;
    margin:auto;
    background-color: black;
    padding-top: 60px;
}
.red{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: red;
    margin:auto;
}
.yellow{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin:auto;
}
.green{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: green;
    margin:auto;
}
.glow {
    box-shadow: 0px 0px 5px 10px rgb(54, 29, 196);
}
.traffictop {
    width: 20px;
    height: 80px;
    background-color: black;
 margin:auto
}